.cabecera
    // position: absolute
    // top: 0
    // left: 0
    width: 100%
    background: rgba(#212226,.2)
    border-bottom: 1px solid rgba($white,.2)
    margin-bottom: 1.5rem    

// Navegacion
.active
    position: relative
    &:after
        content: ''
        display: block
        background: $main-grd
        height: 6px
        width: 47px
        border-radius: 100px
        position: absolute
        bottom: -5px
        left: 5px

.navbar-toggler
    border: none
    outline: none

// Idioma
.language
    a
        display: inline-block
        border: 1px solid rgba($white,.3)
        padding: .5rem        
        color: $white
        &:first-child
            border-right: none
        &:hover
            background: $main-grd
            text-decoration: none
        &:hover,
        &:focus,
        &:visited
            text-decoration: none
            color: $white

@include media-breakpoint-up(md)
    .cabecera
        margin-bottom: 10rem