.hero
    color: $white
    background-image: url(../img/ab_bg.jpg)
    background-size: cover
    padding: 0 0 3rem 0

.hero__micro-title
    text-transform: uppercase
.hero__title
    font-size: 4.5rem
    font-weight: 700
    line-height: 100%    

@include media-breakpoint-up(md)
    .hero
        padding: 0 0 15rem 0  