.servicios
    background-image: url(../img/services_bg.jpg)    
    background-size: cover
    color: $white

.servicio
    background: $main-grd
    border-radius: 3px
.servicio__info
    font-weight: 700